<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>心阶对比计算器</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
</head>
<body>
<div id="app">
    <div align="center" class="header">{{title}}</div>
    <div align="center">
        <a href="https://www.weibo.com/u/6573931053" target="_blank">@山药攻略组<img src="logo.jpg" width="40" height="40"/></a>|
        <a href="https://github.com/sevenchrishai/xinjiecalc" target="_blank">@sevenchrishai</a>
    </div>
    <hr class="fgx">
    <div id="Page1">
        <div class="guancangbtns">
            <button class="button is-info" @click.prevent="collectionFlag=!collectionFlag;cards=false">
                {{collectionFlag?'隐藏':'显示'}}馆藏
            </button>
            <button class="button is-info" @click.prevent="cards=!cards;collectionFlag=false">{{cards?'关闭':'打开'}}卡牌库
            </button>
        </div>
    </div>
    <div class="collection" v-show="collectionFlag">
        <div class="guancang">
            <div align="left">馆藏</div>
            <ul>
                <li v-for="item in collection">{{item.name}}</li>
            </ul>
        </div>
        <div class="dengji">
            <div align="left">等级</div>
            <ul>
                <li v-for="item in collection">
                    <select v-model="item.level">
                        <option v-for="count in 8" :value="count-1">{{count-1}}</option>
                    </select>
                </li>
            </ul>
        </div>
    </div>
    <div class="text-center">
        <button class="button is-info" v-show="collectionFlag" @click.prevent="saveCollection">保存
        </button>
    </div>
    <!--卡牌库-->
    <div class="m10" id="kapaiku" v-show="cards">
        <div class="kapaiku1">
            <div class="radioGroup2">
                <span v-for="(item,key,index) in propObj">
                    <input type="radio" name="kka" :id="'sx'+key" :value="key" v-model="allPropKey"
                           @change="allPropChange()"/>
                    <label :for="'sx'+key" :id="'label'+key">{{item}}</label>
                </span>
            </div>
            <div class="bodysB">
                <div>角色
                    <select v-model="allRoleObj.propRoleKey" @change="getAllRole">
                        <option v-for="(item,key,index) in allPropRoleObj" :value="key">{{item}}</option>
                    </select>
                </div>
                <div>
                    <input type="checkbox" v-model="allRoleObj.isFusu"/>复苏
                </div>
                <div>
                    <span>({{makeupData[allRoleObj.propRoleKey][13]}})</span>
                </div>
            </div>
            <div class="bodysC">
                <div>等级
                    <select name="Star2" v-model="allRoleObj.roleLevelVal">
                        <option v-for="count in 80" :value="count">{{count}}</option>
                    </select>
                </div>
                <div>星级
                    <select name="Star2" v-model="allRoleObj.starVal">
                        <option v-for="(item,index) in starArr" :value="index">{{item}}</option>
                    </select>
                </div>
                <div class="text-right">
                    馆藏
                    <select name="ComboLevel" v-model="allRoleObj.collectVal">
                        <option v-for="count in 8" :value="count-1">{{count-1}}</option>
                    </select>
                </div>
            </div>
            <div class="bodysC">
                <div>影之召唤
                </div>
                <div class="text-center">
                    <select name="ComboA" disabled="disabled" v-model="allRoleObj.shadowVal">
                        <option v-for="(item,index) in shadowArr" :value="index">{{item}}</option>
                    </select>
                </div>
                <div class="text-right">等级
                    <select name="SkllLevel2" v-model="allRoleObj.shadowLevelVal">
                        <option v-for="count in 5" :value="count">{{count}}</option>
                    </select>
                </div>
            </div>
            <div class="bodysB">
                <div>
                    被动
                </div>
                <div class="flexgrow">
                    <select name="ComboP2" disabled="disabled" v-model="allRoleObj.passiveSkillVal1">
                        <option v-for="(item,index) in passiveSkillArr" :value="index">{{item}}</option>
                    </select>
                    <select name="ComboP1Level" v-model="allRoleObj.passiveSkillLevelVal1">
                        <option v-for="count in 5" :value="count">{{count}}</option>
                    </select>
                </div>
                <div class="flexgrow">
                    <select name="ComboP2" disabled="disabled" v-model="allRoleObj.passiveSkillVal2">
                        <option v-for="(item,index) in passiveSkillArr" :value="index">{{item}}</option>
                    </select>
                    <select name="ComboP2Level" v-model="allRoleObj.passiveSkillLevelVal2">
                        <option v-for="count in 5" :value="count">{{count}}</option>
                    </select>
                </div>
                <div class="flexgrow">
                    <select name="ComboP3" disabled="disabled" v-model="allRoleObj.passiveSkillVal3">
                        <option v-for="(item,index) in passiveSkillArr" :value="index">{{item}}</option>
                    </select>
                    <select name="ComboP3Level" v-model="allRoleObj.passiveSkillLevelVal3">
                        <option v-for="count in 5" :value="count">{{count}}</option>
                    </select>
                </div>
            </div>
            <div class="bodysB">
                <div>
                    核心印象
                </div>
                <div>
                    <select name="ChoseYX" v-model="allRoleObj.coreImpressionTypeVal">
                        <option v-for="(item,key,index) in coreImpressionTypeObj" :value="key">{{item}}</option>
                    </select>
                    <select name="YXRank" v-model="allRoleObj.coreImpressionVal" @change="allCoreImpressionChange">
                        <option v-for="(item,key,index) in coreImpressionObj" :value="key">{{item}}</option>
                    </select>
                    <select name="YXLevel" v-model="allRoleObj.coreImpressionLevelVal">
                        <option v-for="(item,key,index) in coreImpressionLevelObj" :value="key">{{item}}</option>
                    </select>
                </div>
            </div>

        </div>
    </div>
    <p align="center" style="padding: 5px">
        <button class="button is-info" v-show="cards" @click.prevent="saveCards">保存</button>
    </p>
    <hr class="fgx">
    <div class="radioGroup1">
        <input type="radio" name="czmode" id="m1" class="mode" value="1" v-model="czMode" checked/>
        <label for="m1">手动模式</label>
        <input type="radio" name="czmode" id="m2" class="mode" value="2" v-model="czMode" checked/>
        <label for="m2">竞技场模式</label>
    </div>
    <hr class="fgx">
    <!--卡牌1-->
    <div class="radioGroup-kka1">
        <strong>卡牌1：</strong>
        <span v-for="(item,key,index) in propObj">
            <input type="radio" name="kka1" :id="'sx1'+key" :value="key" v-model="mainPropKey"
                   @change="mainPropChange()"/>
            <label :for="'sx1'+key" :id="'label1'+key">{{item}}</label>
        </span>
    </div>
    <div id="Page2" class="m10">
        <p id="YXLabel" style="padding: 5px 0;color: #606;">{{propObj[mainPropKey]}}印象分=
            <input type="number" id="YXFen" value="0" v-model="mainPropScore"/>
        </p>
        <div class="bodysB" id="MainC">
            <div>
                角色
                <select id="Char1" v-model="mainRoleObj.propRoleKey" @change="getMainRole()">
                    <option v-for="(item,key,index) in mainPropRoleObj" :value="key">{{item}}</option>
                </select>
            </div>
            <div>
                <input type="checkbox" id="Check1" v-model="mainRoleObj.isFusu"/>复苏
            </div>
        </div>
        <div class="bodysC" id="Label15">
            <div>
                等级
                <select name="Star1" id="Level1" v-model="mainRoleObj.roleLevelVal">
                    <option v-for="count in 80" :value="count">{{count}}</option>
                </select>
            </div>
            <div>
                星级
                <select name="Star1" id="Star1" v-model="mainRoleObj.starVal">
                    <option v-for="(item,index) in starArr" :value="index">{{item}}</option>
                </select>
            </div>
            <div>
                馆藏<span>({{makeupData[mainRoleObj.propRoleKey][13]}})</span>
                <select name="ComboLevel" id="ComboG1" v-model="mainRoleObj.collectVal">
                    <option v-for="count in 8" :value="count-1">{{count-1}}</option>
                </select>
            </div>
        </div>
        <div class="bodysC">
            <div>影之召唤
            </div>
            <div class="text-center">
                <select name="ComboA" disabled="disabled" v-model="mainRoleObj.shadowVal">
                    <option v-for="(item,index) in shadowArr" :value="index">{{item}}</option>
                </select>
            </div>
            <div class="text-right">等级
                <select name="SkllLevel2" v-model="mainRoleObj.shadowLevelVal">
                    <option v-for="count in 5" :value="count">{{count}}</option>
                </select>
            </div>
        </div>
        <div class="bodysB">
            <div>被动</div>
            <div class="flexgrow">
                <select name="ComboP2" disabled="disabled" v-model="mainRoleObj.passiveSkillVal1">
                    <option v-for="(item,index) in passiveSkillArr" :value="index">{{item}}</option>
                </select>
                <select name="ComboP1Level" v-model="mainRoleObj.passiveSkillLevelVal1">
                    <option v-for="count in 5" :value="count">{{count}}</option>
                </select>
            </div>
            <div class="flexgrow">
                <select name="ComboP2" disabled="disabled" v-model="mainRoleObj.passiveSkillVal2">
                    <option v-for="(item,index) in passiveSkillArr" :value="index">{{item}}</option>
                </select>
                <select name="ComboP2Level" v-model="mainRoleObj.passiveSkillLevelVal2">
                    <option v-for="count in 5" :value="count">{{count}}</option>
                </select>
            </div>
            <div class="flexgrow">
                <select name="ComboP3" disabled="disabled" v-model="mainRoleObj.passiveSkillVal3">
                    <option v-for="(item,index) in passiveSkillArr" :value="index">{{item}}</option>
                </select>
                <select name="ComboP3Level" v-model="mainRoleObj.passiveSkillLevelVal3">
                    <option v-for="count in 5" :value="count">{{count}}</option>
                </select>
            </div>
        </div>
        <div class="bodysB">
            <div>核心印象
            </div>
            <div>
                <select name="ChoseYX" v-model="mainRoleObj.coreImpressionTypeVal">
                    <option v-for="(item,key,index) in coreImpressionTypeObj" :value="key">{{item}}</option>
                </select>
                <select name="YXRank" v-model="mainRoleObj.coreImpressionVal" @change="mainCoreImpressionChange">
                    <option v-for="(item,key,index) in coreImpressionObj" :value="key">{{item}}</option>
                </select>
                <select name="YXLevel" v-model="mainRoleObj.coreImpressionLevelVal">
                    <option v-for="(item,key,index) in coreImpressionLevelObj" :value="key">{{item}}</option>
                </select>

            </div>
        </div>
    </div>
    <hr class="fgx">
    <!--卡牌2-->
    <div class="radioGroup-kka2">
        <strong>卡牌2：</strong>
        <span v-for="(item,key,index) in propObj">
            <input type="radio" name="kka2" :id="'sx2'+key" :value="key" v-model="secondPropKey"
                   @change="secondPropChange()"/>
            <label :for="'sx2'+key" :id="'label2'+key">{{item}}</label>
        </span>
    </div>
    <div id="Page3" class="m10">
        <p style="padding: 5px 0;color: #606;">{{propObj[secondPropKey]}}印象分=
            <input type="number" value="0" v-model="secondPropScore"/>
        </p>
        <div class="bodysB">
            <div>
                角色
                <select v-model="secondRoleObj.propRoleKey" @change="getSecondRole()">
                    <option v-for="(item,key,index) in secondPropRoleObj" :value="key">{{item}}</option>
                </select>
            </div>
            <div>
                <input type="checkbox" v-model="secondRoleObj.isFusu"/>复苏
            </div>
        </div>
        <div class="bodysC">
            <div>
                等级
                <select name="Star1" v-model="secondRoleObj.roleLevelVal">
                    <option v-for="count in 80" :value="count">{{count}}</option>
                </select>
            </div>
            <div class="text-center">
                星级
                <select name="Star1" v-model="secondRoleObj.starVal">
                    <option v-for="(item,index) in starArr" :value="index">{{item}}</option>
                </select>
            </div>
            <div>
                馆藏<span>({{makeupData[secondRoleObj.propRoleKey][13]}})</span>
                <select name="ComboLevel" v-model="secondRoleObj.collectVal">
                    <option v-for="count in 8" :value="count-1">{{count-1}}</option>
                </select>
            </div>
        </div>
        <div class="bodysC">
            <div>影之召唤
            </div>
            <div class="text-center">
                <select name="ComboA" disabled="disabled" v-model="secondRoleObj.shadowVal">
                    <option v-for="(item,index) in shadowArr" :value="index">{{item}}</option>
                </select>
            </div>
            <div class="text-right">等级
                <select name="SkllLevel2" v-model="secondRoleObj.shadowLevelVal">
                    <option v-for="count in 5" :value="count">{{count}}</option>
                </select>
            </div>
        </div>
        <div class="bodysB">
            <div>
                被动
            </div>
            <div class="flexgrow">
                <select name="ComboP2" disabled="disabled" v-model="secondRoleObj.passiveSkillVal1">
                    <option v-for="(item,index) in passiveSkillArr" :value="index">{{item}}</option>
                </select>
                <select name="ComboP1Level" v-model="secondRoleObj.passiveSkillLevelVal1">
                    <option v-for="count in 5" :value="count">{{count}}</option>
                </select>
            </div>
            <div class="flexgrow">
                <select name="ComboP2" disabled="disabled" v-model="secondRoleObj.passiveSkillVal2">
                    <option v-for="(item,index) in passiveSkillArr" :value="index">{{item}}</option>
                </select>
                <select name="ComboP2Level" v-model="secondRoleObj.passiveSkillLevelVal2">
                    <option v-for="count in 5" :value="count">{{count}}</option>
                </select>
            </div>
            <div class="flexgrow">
                <select name="ComboP3" disabled="disabled" v-model="secondRoleObj.passiveSkillVal3">
                    <option v-for="(item,index) in passiveSkillArr" :value="index">{{item}}</option>
                </select>
                <select name="ComboP3Level" v-model="secondRoleObj.passiveSkillLevelVal3">
                    <option v-for="count in 5" :value="count">{{count}}</option>
                </select>
            </div>
        </div>
        <div class="bodysB">
            <div>核心印象
            </div>
            <div>
                <select name="ChoseYX" v-model="secondRoleObj.coreImpressionTypeVal">
                    <option v-for="(item,key,index) in coreImpressionTypeObj" :value="key">{{item}}</option>
                </select>
                <select name="YXRank" v-model="secondRoleObj.coreImpressionVal" @change="secondCoreImpressionChange">
                    <option v-for="(item,key,index) in coreImpressionObj" :value="key">{{item}}</option>
                </select>
                <select name="YXLevel" v-model="secondRoleObj.coreImpressionLevelVal">
                    <option v-for="(item,key,index) in coreImpressionLevelObj" :value="key">{{item}}</option>
                </select>

            </div>
        </div>
    </div>
    <hr class="fgx">
    <p align="center" id="BUTTONL">
        <button class="button is-info" @click.prevent="compareScore" style="margin: 10px 0">对比</button>
    </p>

    <div id="Page4" class="m10" align="center">
        <!--卡牌1-->
        <div align="center">
            <p style="font-size: 120%;font-weight: bold"><{{mainRoleObj.propRoleVal}}></p>
            <p>
                {{mainRoleObj.roleLevelVal}}级{{starArr[mainRoleObj.starVal]}}，主动等级{{mainRoleObj.shadowLevelVal}}，被动等级
                {{mainRoleObj.passiveSkillLevelVal1}}-{{mainRoleObj.passiveSkillLevelVal2}}-{{mainRoleObj.passiveSkillLevelVal3}}，
                {{mainRoleObj.isFusu?"已":"未"}}复苏，馆藏{{mainRoleObj.collectVal}}级，
                {{coreImpressionLevelObj[mainRoleObj.coreImpressionLevelVal]}}
                {{coreImpressionObj[mainRoleObj.coreImpressionVal]}}
                {{mainRoleObj.coreImpressionTypeVal==1?"心技印象":"影技印象"}}
            </p>
            <p>
                搭配之力为{{mainPower}}，印象分为{{mainPropScore}}，得分系数为{{mainScore}}
            </p>
        </div>
        <hr class="fgx">
        <!--卡牌2-->
        <div align="center">
            <p style="font-size: 120%;font-weight: bold"><{{secondRoleObj.propRoleVal}}></p>
            <p>
                {{secondRoleObj.roleLevelVal}}级{{starArr[secondRoleObj.starVal]}}，主动等级{{secondRoleObj.shadowLevelVal}}，被动等级
                {{secondRoleObj.passiveSkillLevelVal1}}-{{secondRoleObj.passiveSkillLevelVal2}}-{{secondRoleObj.passiveSkillLevelVal3}}，
                {{secondRoleObj.isFusu?"已":"未"}}复苏，馆藏{{secondRoleObj.collectVal}}级，
                {{coreImpressionLevelObj[secondRoleObj.coreImpressionLevelVal]}}
                {{coreImpressionObj[secondRoleObj.coreImpressionVal]}}
                {{secondRoleObj.coreImpressionTypeVal==1?"心技印象":"影技印象"}}
            </p>
            <p>
                搭配之力为{{secondPower}}，印象分为{{secondPropScore}}，得分系数为{{secondScore}}
            </p>
        </div>
        <hr class="fgx">
        <div v-if="(mainPower+mainPropScore) > (secondPower+secondPropScore) && mainScore > secondScore">
            结论：{{mainRoleObj.propRoleVal}}的搭配之力和得分系数均超过{{secondRoleObj.propRoleVal}}，
            所以选择使用{{mainRoleObj.propRoleVal}}
        </div>
        <div v-if="(mainPower+mainPropScore) < (secondPower+secondPropScore) && mainScore < secondScore">
            结论：{{mainRoleObj.propRoleVal}}的搭配之力和得分系数均小于{{secondRoleObj.propRoleVal}}，
            所以选择使用{{secondRoleObj.propRoleVal}}
        </div>
        <div v-if="(mainPower+mainPropScore) > (secondPower+secondPropScore) && mainScore < secondScore">
            结论：{{compareResult>0?
            '当你的搭配+羁绊+美甲+妆容>' + compareResult + '时,选择使用'+ secondRoleObj.propRoleVal + '得分会更高；否则使用'+
            mainRoleObj.propRoleVal+ '的得分会更高。'
            :'无论什么情况，都是'+secondRoleObj.propRoleVal+'的得分会更高。'}}
        </div>
        <div v-if="(mainPower+mainPropScore) < (secondPower+secondPropScore) && mainScore > secondScore">
            结论：{{compareResult>0?
            '当你的搭配+羁绊+美甲+妆容>' + compareResult + '时,选择使用'+ mainRoleObj.propRoleVal + '得分会更高；否则使用'+
            secondRoleObj.propRoleVal+ '的得分会更高。'
            :'无论什么情况，都是'+mainRoleObj.propRoleVal+'的得分会更高。'}}
        </div>
        <div v-if="(mainPower+mainPropScore) > (secondPower+secondPropScore) && mainScore == secondScore">
            结论：{{mainRoleObj.propRoleVal}}和{{secondRoleObj.propRoleVal}}的得分系数相同，但选择使用
            {{mainRoleObj.propRoleVal}}，因为它的搭配之力分数更高。
        </div>
        <div v-if="(mainPower+mainPropScore) < (secondPower+secondPropScore) && mainScore == secondScore">
            结论：{{mainRoleObj.propRoleVal}}和{{secondRoleObj.propRoleVal}}的得分系数相同，但选择使用
            {{secondRoleObj.propRoleVal}}，因为它的搭配之力分数更高。
        </div>
        <div v-if="(mainPower+mainPropScore) == (secondPower+secondPropScore) && mainScore > secondScore">
            结论：{{mainRoleObj.propRoleVal}}的得分系数更高，所以选择使用{{mainRoleObj.propRoleVal}}
        </div>
        <div v-if="(mainPower+mainPropScore) == (secondPower+secondPropScore) && mainScore < secondScore">
            结论：{{secondRoleObj.propRoleVal}}的得分系数更高，所以选择使用{{secondRoleObj.propRoleVal}}
        </div>
        <div v-if="(mainPower+mainPropScore) == (secondPower+secondPropScore) && mainScore == secondScore">
            结论：{{mainRoleObj.propRoleVal}}和{{secondRoleObj.propRoleVal}}是完全相同的两张卡。
        </div>
        <hr class="fgx">

    </div>

</div>


<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/vue/2.6.11/vue.min.js"></script>
<script src="calc.js"></script>
</body>
</html>