<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>心阶对比计算器</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
</head>
<body>
<div id="app">
    <div align="center" class="header">{{title}}</div>
    <div align="center">
        <a href="https://www.weibo.com/u/6573931053" target="_blank">@山药攻略组<img src="logo.jpg" width="40" height="40"/></a>|
        <a href="https://github.com/sevenchrishai/xinjiecalc" target="_blank">@sevenchrishai</a>
    </div>
    <hr class="fgx">
    <div id="Page1">
        <div class="guancangbtns">
            <button class="button is-info" @click="collectionFlag = !collectionFlag">{{collectionFlag?'隐藏':'显示'}}馆藏</button>
            <button class="button is-primary" v-show="collectionFlag" @click="saveCollection">保存</button>
        </div>
        <div class="collection" v-show="collectionFlag">
            <div>
                <div align="center">馆藏：</div>
                <ul>
                    <li v-for="item in collection">{{item.name}}:</li>
                </ul>
            </div>
            <div>
                <div align="center">等级：</div>
                <ul>
                    <li v-for="item in collection">
                        <select v-model="item.level">
                            <option v-for="count in 8" :value="count-1">{{count-1}}</option>
                        </select>
                    </li>
                </ul>
            </div>
        </div>
        <hr class="fgx">
        <!--<p align="center">-->
            <!--请选择操作模式：-->
            <!--<select name="czmode" id="czMode" v-model="czMode">-->
                <!--<option value="1">手动模式</option>-->
                <!--<option value="2">竞技场模式</option>-->
            <!--</select>-->
            <!--请选择主属性：-->
            <!--<select id="SX" v-model="mainPropKey" @change="mainPropChange">-->
                <!--<option v-for="(item,key,index) in mainPropObj" :value="key">{{item}}</option>-->
            <!--</select>-->
        <!--</p>-->
        <div class="radioGroup">
            请选择操作模式：
            <label class="radio">
                <input type="radio" name="czmode" value="1" v-model="czMode">
                手动模式
            </label>
            <label class="radio">
                <input type="radio" name="czmode" value="2" v-model="czMode">
                竞技场模式
            </label>
        </div>
        <div class="radioGroup">
            请选择主属性：
            <label class="radio" v-for="(item,key,index) in mainPropObj">
                <input type="radio" name="mainProp" :value="key" v-model="mainPropKey" @change="mainPropChange">
                {{item}}
            </label>
        </div>
        <p id="YXLabel" style="padding: 0 10px;margin-bottom: 10px">{{mainPropObj[mainPropKey]}}印象总分=
            <input type="number" id="YXFen" value="0" v-model="mainPropScore"/>
        </p>
    </div>
    <div id="Page2" align="center">
        <p class="title" id="Label1">主属性设计师之影：{{mainPropObj[mainPropKey]}}</p>
        <p class="bodysC" id="MainC">
            {{mainPropObj[mainPropKey]}}角色：
            <select id="Char1" v-model="mainRoleObj.propRoleKey" @change="roleChange">
                <option v-for="(item,key,index) in propRoleObj" :value="key">{{item}}</option>
            </select>
            <input type="checkbox" id="Check1" v-model="mainRoleObj.isFusu"/>复苏
        </p>
        <p class="bodysC" id="Label15">
            等级：
            <!--<input name="Star1" id="Level1" type="number" max="80" min="1" v-model="roleLevelVal">-->
            <select name="Star1" id="Level1" v-model="mainRoleObj.roleLevelVal">
                <option v-for="count in 80" :value="count">{{count}}</option>
            </select>
            星级：
            <select name="Star1" id="Star1" v-model="mainRoleObj.starVal">
                <option v-for="(item,index) in starArr" :value="index">{{item}}</option>
            </select>
            馆藏：
            <select name="ComboLevel" id="ComboG1" v-model="mainRoleObj.collectVal">
                <option v-for="count in 8" :value="count-1">{{count-1}}</option>
            </select>
        </p>
        <p class="bodysT" id="GCL1">(图鉴所属：{{makeupData[mainRoleObj.propRoleKey][13]}})</p>
        <p class="bodysA">—————— 影之召唤 ——————</p>
        <p class="bodysA">
            <select name="ComboA" id="Skll1" disabled="disabled" v-model="mainRoleObj.shadowVal">
                <option v-for="(item,index) in shadowArr" :value="index">{{item}}</option>
            </select>
            等级
            <select name="SkllLevel1" id="SkllLevel1" v-model="mainRoleObj.shadowLevelVal">
                <option v-for="count in 5" :value="count">{{count}}</option>
            </select>
        </p>
        <p class="bodys">—————— 被动技能 ——————</p>
        <p class="bodys">1、类型
            <select name="ComboP1" id="ComboP11" disabled="disabled" v-model="mainRoleObj.passiveSkillVal1">
                <option v-for="(item,index) in passiveSkillArr" :value="index">{{item}}</option>
            </select>
            等级
            <select name="ComboP1Level" id="ComboP1Level1" v-model="mainRoleObj.passiveSkillLevelVal1">
                <option v-for="count in 5" :value="count">{{count}}</option>
            </select>
        </p>
        <p class="bodys"> 2、类型
            <select name="ComboP2" id="ComboP21" disabled="disabled" v-model="mainRoleObj.passiveSkillVal2">
                <option v-for="(item,index) in passiveSkillArr" :value="index">{{item}}</option>
            </select>
            等级
            <select name="ComboP2Level" id="ComboP2Level1" v-model="mainRoleObj.passiveSkillLevelVal2">
                <option v-for="count in 5" :value="count">{{count}}</option>
            </select>
        </p>
        <p class="bodys"> 3、类型
            <select name="ComboP3" id="ComboP31" disabled="disabled" v-model="mainRoleObj.passiveSkillVal3">
                <option v-for="(item,index) in passiveSkillArr" :value="index">{{item}}</option>
            </select>
            等级
            <select name="ComboP3Level" id="ComboP3Level1" v-model="mainRoleObj.passiveSkillLevelVal3">
                <option v-for="count in 5" :value="count">{{count}}</option>
            </select>
        </p>
        <p class="end"><span id="modeLL" class="bodys">——————  核心印象  ——————</span></p>
        <p class="end">
            <select name="YXRank" id="YXRank1" v-model="mainRoleObj.coreImpressionVal" @change="coreImpressionChange">
                <option v-for="(item,key,index) in coreImpressionObj" :value="key">{{item}}</option>
            </select>
            <select name="YXLevel" id="YXLevel1" v-model="mainRoleObj.coreImpressionLevelVal">
                <option v-for="(item,key,index) in coreImpressionLevelObj" :value="key">{{item}}</option>
            </select>
        </p>
        <p class="end">
            <select name="ChoseYX" id="ChoseYX1" v-model="mainRoleObj.coreImpressionTypeVal">
                <option v-for="(item,key,index) in coreImpressionTypeObj" :value="key">{{item}}</option>
            </select>
        <p id="YXFen1" align="center" v-show="false">印象总分：<input type="text" id="YXL1"/></p>
        </p>
        <button class="button is-primary" @click="roleSave" style="margin-top: 10px">保存</button>
    </div>
    <hr class="fgx">
    <div id="Page3" align="center">
        <p class="title" id="Label2">其他属性的设计师之影</p>
        <p class="bodysC" id="MainC2">角色：
            <select id="Char2" v-model="otherRoleObj.otherPropRoleKey" @change="otherRoleChange">
                <option v-for="(item,key,index) in otherPropRoleObj" :value="key">{{item}}</option>
            </select>
            <input type="checkbox" id="Check2" v-model="otherRoleObj.otherIsFusu"/>复苏
        </p>
        <p class="bodysC" id="Label155">
            等级：
            <select name="Star2" id="Level2" v-model="otherRoleObj.otherRoleLevelVal">
                <option v-for="count in 80" :value="count">{{count}}</option>
            </select>
            星级：
            <select name="Star2" id="Star2" v-model="otherRoleObj.otherStarVal">
                <option v-for="(item,index) in starArr" :value="index">{{item}}</option>
            </select>
            馆藏：
            <select name="ComboLevel" id="ComboG2" v-model="otherRoleObj.otherCollectVal">
                <option v-for="count in 8" :value="count-1">{{count-1}}</option>
            </select>
        </p>
        <p class="bodysT" id="GCL2">(图鉴所属：{{makeupData[otherRoleObj.otherPropRoleKey][13]}})</p>
        <p class="bodysA">—————— 影之召唤 ——————</p>
        <p class="bodysA">
            <select name="ComboA" id="Skll2" disabled="disabled" v-model="otherRoleObj.otherShadowVal">
                <option v-for="(item,index) in shadowArr" :value="index">{{item}}</option>
            </select>
            等级
            <select name="SkllLevel2" id="SkllLevel2" v-model="otherRoleObj.otherShadowLevelVal">
                <option v-for="count in 5" :value="count">{{count}}</option>
            </select>
        </p>
        <p class="bodys">—————— 被动技能 ——————</p>
        <p class="bodys">1、类型
            <select name="ComboP2" id="ComboP12" disabled="disabled" v-model="otherRoleObj.passiveSkillVal11">
                <option v-for="(item,index) in passiveSkillArr" :value="index">{{item}}</option>
            </select>
            等级
            <select name="ComboP1Level" id="ComboP1Level2" v-model="otherRoleObj.passiveSkillLevelVal11">
                <option v-for="count in 5" :value="count">{{count}}</option>
            </select>
        </p>
        <p class="bodys"> 2、类型
            <select name="ComboP2" id="ComboP22" disabled="disabled" v-model="otherRoleObj.passiveSkillVal22">
                <option v-for="(item,index) in passiveSkillArr" :value="index">{{item}}</option>
            </select>
            等级
            <select name="ComboP2Level" id="ComboP2Level2" v-model="otherRoleObj.passiveSkillLevelVal22">
                <option v-for="count in 5" :value="count">{{count}}</option>
            </select>
        </p>
        <p class="bodys"> 3、类型
            <select name="ComboP3" id="ComboP32" disabled="disabled" v-model="otherRoleObj.passiveSkillVal33">
                <option v-for="(item,index) in passiveSkillArr" :value="index">{{item}}</option>
            </select>
            等级
            <select name="ComboP3Level" id="ComboP3Level2" v-model="otherRoleObj.passiveSkillLevelVal33">
                <option v-for="count in 5" :value="count">{{count}}</option>
            </select>
        </p>
        <p class="end"><span id="modeL" class="bodys">——————  核心印象  ——————</span></p>
        <p class="end">
            <select name="YXRank" id="YXRank2" v-model="otherRoleObj.otherCoreImpressionVal" @change="otherCoreImpressionChange">
                <option v-for="(item,key,index) in coreImpressionObj" :value="key">{{item}}</option>
            </select>
            <select name="YXLevel" id="YXLevel2" v-model="otherRoleObj.otherCoreImpressionLevelVal">
                <option v-for="(item,key,index) in coreImpressionLevelObj" :value="key">{{item}}</option>
            </select>
        </p>
        <p class="end">
            <select name="ChoseYX" id="ChoseYX2" v-model="otherRoleObj.otherCoreImpressionTypeVal">
                <option v-for="(item,key,index) in coreImpressionTypeObj" :value="key">{{item}}</option>
            </select>
        <p id="YXFen2" align="center" v-show="false">印象总分：<input type="text" id="YXL2"/></p>
        </p>
        <button class="button is-primary" @click="otherRoleSave" style="margin-top: 10px">保存</button>
    </div>
    <hr class="fgx">
    <p align="center" id="BUTTONL">
        <button class="button is-info" @click="compareScore" style="margin: 10px 0">对比</button>
    </p>

    <div id="Page4" align="center">
        <div align="center">
            <p style="font-size: 120%;font-weight: bold"><{{mainRoleObj.propRoleVal}}></p>
            <p>
                {{mainRoleObj.roleLevelVal}}级{{starArr[mainRoleObj.starVal]}}，主动等级{{mainRoleObj.shadowLevelVal}}，被动等级
                {{mainRoleObj.passiveSkillLevelVal1}}-{{mainRoleObj.passiveSkillLevelVal2}}-{{mainRoleObj.passiveSkillLevelVal3}}，
                {{mainRoleObj.isFusu?"已":"未"}}复苏，馆藏{{mainRoleObj.collectVal}}级，
                {{coreImpressionLevelObj[mainRoleObj.coreImpressionLevelVal]}}
                {{coreImpressionObj[mainRoleObj.coreImpressionVal]}}
                {{mainRoleObj.coreImpressionTypeVal==1?"心技印象":"影技印象"}}
            </p>
            <p>
                搭配之力为{{power}}，印象分为{{mainPropScore}}，得分系数为{{score}}
            </p>
        </div>
        <hr class="fgx">
        <div align="center">
            <p style="font-size: 120%;font-weight: bold"><{{otherRoleObj.otherPropRoleVal}}></p>
            <p>
                {{otherRoleObj.otherRoleLevelVal}}级{{starArr[otherRoleObj.otherStarVal]}}，主动等级{{otherRoleObj.otherShadowLevelVal}}，被动等级
                {{otherRoleObj.passiveSkillLevelVal11}}-{{otherRoleObj.passiveSkillLevelVal22}}-{{otherRoleObj.passiveSkillLevelVal33}}，
                {{otherRoleObj.otherIsFusu?"已":"未"}}复苏，馆藏{{otherRoleObj.otherCollectVal}}级，
                {{coreImpressionLevelObj[otherRoleObj.otherCoreImpressionLevelVal]}}
                {{coreImpressionObj[otherRoleObj.otherCoreImpressionVal]}}
                {{otherRoleObj.otherCoreImpressionTypeVal==1?"心技印象":"影技印象"}}
            </p>
            <p>
                搭配之力为{{otherPower}}，得分系数为{{otherScore}}
            </p>
        </div>
        <hr class="fgx">
        <div v-if="(power + mainPropScore) > otherPower && score > otherScore">
            结论：{{mainRoleObj.propRoleVal}}的搭配之力和得分系数均超过{{otherRoleObj.otherPropRoleVal}}，
            所以选择使用{{mainRoleObj.propRoleVal}}
        </div>
        <div v-if="(power + mainPropScore) > otherPower && score < otherScore">
            结论：当你的搭配+羁绊+美甲+妆容>{{Math.floor((otherScore * otherPower - score * (power + mainPropScore)) / (score - otherScore))}}时，
            选择使用{{otherRoleObj.otherPropRoleVal}}得分会更高；否则使用{{mainRoleObj.propRoleVal}}的得分会更高
        </div>
        <hr class="fgx">

    </div>

</div>


<!--<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>-->
<script src="https://cdn.bootcss.com/vue/2.6.11/vue.min.js"></script>
<script src="calc.js"></script>
</body>
</html>