a {
    font-size: 80%;
    color: #03F;
    text-decoration: none;
}

ul li {
    list-style: none;
    height: 24px;
}
/*}*/
select[disabled] {
    border: 0;
    /*清除默认的select选择框样式*/
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    color: orange;
    text-align: center;
    font-size: 1em;
    padding: 0 0.0001%;
    margin: 0;
    text-align-last: center;
    /*width: 100%;*/
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.m10{
    margin: 0 10px;
}
.header {
    font-size: 140%;
    font-weight: bold;
    color: #1F4499;
    padding: 10px;
}

.guancangbtns {
    text-align: center;
    margin: 0 10px;
}

.radioGroup1 {
    text-align: center;
}

.radioGroup1 input[type="radio"] {
    display: none;
}

.radioGroup1 label {
    display: inline-block;
    background-color: #cccccc;
    padding: 7px 35px;
    font-family: Arial;
    font-size: 16px;
    cursor: pointer;
    color: white;
    margin: 5px;
    border-radius: 4px;
}
.radioGroup1 input[type="radio"]:checked + label {
    background-color: #3298dc;
}
.radioGroup1 button{
    color: #fff;
    border: transparent;
    background-color: #cccccc;
}
.radioGroup1 button:hover{
    color: white;
}
.radioGroup1 button.active{
    color: #fff;
    border: transparent;
    background-color: #3298dc;
}
.collection {
    padding-left: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.guancang {
    text-align-last: justify;
    text-align: justify;
    text-justify: distribute-all-lines;
    width: 100px; /*这行必加，兼容ie浏览器*/
}
.dengji {
    padding-left: 50px;
}

.kapaiku {
    margin: 10px;
}

.radioGroup2 {
    text-align: center;
}

.radioGroup2 input[type="radio"] {
    display: none;
}

.radioGroup2 label {
    display: inline-block;
    background-color: #cccccc;
    padding: 7px 7px;
    font-family: Arial;
    font-size: 16px;
    cursor: pointer;
    color: white;
    margin: 5px;
    border-radius: 4px;
}

.radioGroup2 input[type="radio"]:checked + label#label1 {
    background-color: #f4c534;
}

.radioGroup2 input[type="radio"]:checked + label#label2 {
    background-color: #5addad;
}

.radioGroup2 input[type="radio"]:checked + label#label3 {
    background-color: #fea1af;
}

.radioGroup2 input[type="radio"]:checked + label#label4 {
    background-color: #c05ff5;
}

.radioGroup2 input[type="radio"]:checked + label#label5 {
    background-color: #7198f5;
}

.radioGroup-kka1 {
    text-align: center;
}

.radioGroup-kka1 input[type="radio"] {
    display: none;
}

.radioGroup-kka1 label {
    display: inline-block;
    background-color: #cccccc;
    padding: 7px 7px;
    font-family: Arial;
    font-size: 16px;
    cursor: pointer;
    color: white;
    margin: 5px;
    border-radius: 4px;
}

.radioGroup-kka1 input[type="radio"]:checked + label#label11 {
    background-color: #f4c534;
}

.radioGroup-kka1 input[type="radio"]:checked + label#label12 {
    background-color: #5addad;
}

.radioGroup-kka1 input[type="radio"]:checked + label#label13 {
    background-color: #fea1af;
}

.radioGroup-kka1 input[type="radio"]:checked + label#label14 {
    background-color: #c05ff5;
}

.radioGroup-kka1 input[type="radio"]:checked + label#label15 {
    background-color: #7198f5;
}

.radioGroup-kka2 {
    text-align: center;
}

.radioGroup-kka2 input[type="radio"] {
    display: none;
}

.radioGroup-kka2 label {
    display: inline-block;
    background-color: #cccccc;
    padding: 7px 7px;
    font-family: Arial;
    font-size: 16px;
    cursor: pointer;
    color: white;
    margin: 5px;
    border-radius: 4px;
}

.radioGroup-kka2 input[type="radio"]:checked + label#label21 {
    background-color: #f4c534;
}

.radioGroup-kka2 input[type="radio"]:checked + label#label22 {
    background-color: #5addad;
}

.radioGroup-kka2 input[type="radio"]:checked + label#label23 {
    background-color: #fea1af;
}

.radioGroup-kka2 input[type="radio"]:checked + label#label24 {
    background-color: #c05ff5;
}

.radioGroup-kka2 input[type="radio"]:checked + label#label25 {
    background-color: #7198f5;
}
.radioGroup-kka2 input[type="radio"]:checked + label#labell21 {
    background-color: #f4c534;
}

.radioGroup-kka2 input[type="radio"]:checked + label#labell22 {
    background-color: #5addad;
}

.radioGroup-kka2 input[type="radio"]:checked + label#labell23 {
    background-color: #fea1af;
}

.radioGroup-kka2 input[type="radio"]:checked + label#labell24 {
    background-color: #c05ff5;
}

.radioGroup-kka2 input[type="radio"]:checked + label#labell25 {
    background-color: #7198f5;
}
hr {
    margin: 5px 0 !important;
}

hr.fgx {
    height: 1px !important;
    background-color: cornflowerblue;
}

.bodysC .flexgrow{
    flex-grow: 1;
}
.bodysC {
    color: #606;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
}
.bodysC span {
    color: lightskyblue;
}

p.bodysD {
    color: #C00;
    text-align: center;
}

p.bodysF {
    color: #909;
    text-align: center;
}

#X {
    width: 75px;
}

#modeL {
    color: #00F;
    font-size: 90%;

}

p.bodysG {
    color: #909;
    text-align: center;
}

p.bodysA {
    font-size: 90%;
    color: #009;
    text-align: center;
}

p.end {
    font-size: 80%;
    text-align: center;
    padding: 2px;
}

p.t {
    font-size: 140%;
    font-weight: 800;
    color: #1F4499;
    text-align: center;
}

body {
    background-color: #FFF;
}
